<!-- <div class="row">
    <h2 class="text-center event-header">ABOUT US</h2>
</div> -->

<div class="container mt-6">

    <!-- Card Narrower -->
    <div class="card card-cascade narrower">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="img/abo.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade abo">

            <!-- Label -->
            <h5 class="pink-text pb-2 pt-1">Facts on RWMF</h5>
            <!-- Title -->
            <!-- <h4 class="font-weight-bold card-title">Cheat day inspirations</h4> -->
            <!-- Text -->
            
            <p class="card-text">The Rainforest World Music Festival is a unique festival that brings together on the
                same stage renowned world musicians
                from all continents and indigenous musicians from the interiors of the mythical island of
                Borneo.<br /><br />
                Its formula of afternoon informative workshops, followed by evening performances on the main stage has
                proven to be a
                hit with the audience, who come from near and far.<br /><br />
                The festival site also sets up a variety of food and drink stalls, an arts and crafts area as well as a
                counter for
                festival memorabilia, Sarawak souvenirs and CDs by the performing artists, all this contributing to a
                fun filled,
                wholesome festival experience. World Music plus a country fair atmosphere in the midst of lush
                greenery.<br /><br />
                The Rainforest World Music Festival, a not-to-be-missed occasion, guarantees a smashing time in the
                heart of the Borneo
                Jungle.
            </p>

            <div class="alert alert-info" role="alert">
                    This app is optimized for chrome V.67 or higher in Android 9 and Safari V.11.1 or higher in ios 11 or higher
            </div>
        </div>

    </div>
    <!-- Card Narrower -->


</div>