<!-- <div class="row">
    <h2 class="text-center event-header">ABOUT US</h2>
</div> -->

<div class="container mt-6">

    <!-- Card Narrower -->
    <div class="card card-cascade narrower">

        <!-- Card content -->
        <div class="card-body card-body-cascade prof">

            <form class="md-form">
                <div class="file-field">
                    <div class="mb-4">
                        <img src="img/avat.png"
                            class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                            <div class="plus"><i class=""></i></div>
                            <input type="file">
                    </div>
                    <!-- <div class="d-flex justify-content-center">
                        <div class="btn btn-mdb-color btn-rounded float-left">
                            <span>Add photo</span>
                            <input type="file">
                        </div>
                    </div> -->
                </div>
            </form>


            <!-- Text -->
            <div class="col-sm-12">
                <div class="md-form mb-3">
                    <input value="John" type="text" id="inputPrefilledEx" class="form-control">
                    <label for="inputPrefilledEx" class="active">First Name</label>
                </div>
                <div class="md-form mb-3">
                    <input value="Doe" type="text" id="inputPrefilledEx" class="form-control">
                    <label for="inputPrefilledEx" class="active">Last Name</label>
                </div>
                <div class="md-form mb-3">
                    <input value="john@doe.com" type="text" id="inputPrefilledEx" class="form-control">
                    <label for="inputPrefilledEx" class="active">Email ID</label>
                </div>
            </div>

        </div>

    </div>
    <!-- Card Narrower -->


</div>