<!-- <div class="row">
    <h2 class="text-center event-header">ABOUT US</h2>
</div> -->

<div class="container mt-6">

    <!-- Card Narrower -->
    <div class="card card-cascade narrower">

        <!-- Card content -->
        <div class="card-body card-body-cascade prof">

            <form class="md-form" name="statCtrl.profileForm" autocomplete="off">
                <div class="file-field">
                    {{ statCtrl.userData | json }}"
                    <div class="mb-4">
                        <img src="{{ statCtrl.userData.image }}" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                        <div class="plus pull-left"><i class=""></i>
                            <input type="file" class="pull-left">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="md-form mb-3">
                        <input name="fname" type="text" id="inputPrefilledEx" class="form-control" ng-model="statCtrl.userdata">
                        <label for="inputPrefilledEx" class="active">First Name</label>
                    </div>
                    <div class="md-form mb-3">
                        <input name="lname" type="text" id="inputPrefilledEx" class="form-control" ng-model="statCtrl.userdata">
                        <label for="inputPrefilledEx" class="active">Last Name</label>
                    </div>
                    <div class="md-form mb-3">
                        <input name="email" type="text" id="inputPrefilledEx" class="form-control" ng-model="statCtrl.userdata.email">
                        <label for="inputPrefilledEx" class="active">Email ID</label>
                        <span ng-if="statCtrl.profileForm.email.$dirty && statCtrl.profileForm.email.$error.pattern" class="pl-0 text-error col-md-12 text-error format">Invalid email format</span>
                    </div>
                    <div class="md-form mb-3">
                        <input name="phone" type="text" id="inputPrefilledEx" class="form-control" ng-model="statCtrl.userdata.phone">
                        <label for="inputPrefilledEx" class="active">Phone Number</label>
                    </div>
                    <div class="form-actions">
                        <button ng-if="statCtrl.profileForm.$dirty" type="button" ng-click="statCtrl.saveProfile(statCtrl.userdata)" ng-disabled="statCtrl.profileForm.$invalid" class="btn btn-primary forgot-btn">SUBMIT</button>
                    </div>
                </div>

            </form>

        </div>

    </div>


</div>