<!DOCTYPE html>
<html lang="en" ng-app="RWMF"
    ng-class="{'home': pageName == 'home', 'login': pageName == 'login', 'loading': isLoading, 'splash': isSplashScreen}">

<head>
    <title ng-if="!mainHeader">RWMF</title>
    <base href="/" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#006a36">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="image/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="RWMF">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
        content="971257550676-94l84vfn2c96gq47mkqnqb8houuhd2p3.apps.googleusercontent.com">
    <link rel="apple-touch-startup-image" href="images/splash/launch-640x1136.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/splash/launch-750x1294.png"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/splash/launch-1242x2148.png"
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/splash/launch-1125x2436.png"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/splash/launch-1536x2048.png"
        media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/splash/launch-1668x2224.png"
        media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/splash/launch-2048x2732.png"
        media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function HandleGoogleApiLibrary() {
            // Load "client" & "auth2" libraries
            gapi.load('client:auth2', {
                callback: function () {
                    // Initialize client & auth libraries
                    gapi.client.init({
                        apiKey: 'YOUR_GOOGLE_API_KEY',
                        clientId: 'YOUR_GOOGLE_API_CLIENT_ID',
                        scope: 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.me'
                    }).then(
                        function (success) {
                            console.log(success)
                        },
                        function (error) {
                            // Error occurred
                            // console.log(error) to find the reason
                        }
                    );
                },
                onerror: function () {
                    // Failed to load libraries
                }
            });
        }
    </script>
    <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};HandleGoogleApiLibrary()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
</head>

<body ng-if="!isSplashScreen">
    <div class="container mx-auto" ui-view="header"></div>
    <div class="container mx-auto" ui-view="login"></div>
    <div class="container mx-auto" ui-view="innerPages"></div>
    <div class="map-page" ui-view="mapPage"></div>
    <div class="ad-page container mx-auto ng-scope" ui-view="ads"></div>
    <!-- Library scripts -->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '689863101457933',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));        // Called when Google Javascript API Javascript is loaded

    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22338869-3"></script>

    <script>    
      window.dataLayer = window.dataLayer || [];    
      function gtag(){dataLayer.push(arguments);}    
      gtag('js', new Date());  
      gtag('config', 'UA-22338869-3');    
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAgSkVT1uTk7XBFToLLzS50JO7UJtMujTM&libraries=places&maptype=roadmap" async
        defer></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="js/libs/jquery.js"></script>
    <script type="text/javascript" src="js/mdb.min.js" defer></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap-lighthouse.js"></script>
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/libs/cookies.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/libs/platform.js"></script>
    <script type="text/javascript" src="js/libs/ng-sanitize.js"></script>
    <script type="text/javascript" src="js/idb.js"></script>
    <script src="js/webshare.js"></script>
    <!-- Library scripts -->

    <!-- App scripts -->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="components/user/login.controller.js"></script>
    <script type="text/javascript" src="components/home/home.controller.js"></script>
    <script type="text/javascript" src="components/home/homeSearch.controller.js"></script>
    <script type="text/javascript" src="components/header/header.controller.js"></script>
    <script type="text/javascript" src="components/program/registeredProgram.controller.js"></script>
    <script type="text/javascript " src="components/user/forgot.controller.js"></script>
    <script type="text/javascript " src="components/user/newuser.controller.js"></script>
    <script type="text/javascript " src="components/general/general.controller.js"></script>
    <script type="text/javascript " src="components/program/programDetail.controller.js"></script>
    <script type="text/javascript " src="components/static/staticCtrl.js"></script>
    <script type="text/javascript " src="components/static/venueCtrl.js"></script>
    <script type="text/javascript " src="components/static/profile.controller.js"></script>
    <!-- service providers -->
    <script src="services/authentication.service.js"></script>
    <script src="services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <script src="services/appConstants.js"></script>
    <script src="services/HttpRequest.js"></script>
    <script src="services/CoreService.js"></script>
</body>

</html>