<div style="height: 85vh">
    <div class="flex-center flex-column login-card">

        <div class="login-logo">
        </div>

        <!--Card content-->
        <div class="card login">
            <div class="card-body">

                <div class="mx-auto view overlay mb-4">
                    <h3 class="align-top text-center">Password Recovery</h3>
                    <div class="forgot-logo"></div>
                    <p class="mx-auto align-base text-center">We'll help you to create a new password</p>
                </div>

                <form name="forgotCtrl.forgot" role="form" autocomplete="off">
                    <div class="form-group email fortgotform">
                        <input placeholder="Email ID" type="text" name="email" id="email" class="form-control" ng-model="forgotCtrl.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required ng-class="{ 'has-error': forgotCtrl.forgot.email.$dirty && forgotCtrl.forgot.email.$error.required }"
                        />
                        <span ng-if="forgotCtrl.forgot.email.$dirty && forgotCtrl.forgot.email.$error.required" class="pl-0 text-error col-md-12">Email ID is required</span>
                        <span ng-if="forgotCtrl.forgot.email.$dirty && forgotCtrl.forgot.email.$error.pattern" class="pl-0 text-error col-md-12 text-error format">Invalid email format</span>

                    </div>
                    <div class="col-md-12 pl-0 pr-0 pull-left mb-10">
                        <a class="home-link" ui-sref="home">Home</a>
                        <a class="forgot-link" ui-sref="login">Login</a>
                    </div>
                    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                    <div class="form-actions">
                        <button type="button" ng-click="forgotCtrl.forgotPassword(forgotCtrl.email)" ng-disabled="forgotCtrl.forgot.$invalid" class="btn btn-primary forgot-btn">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>