<div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead text-center">GDPR Compliance</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-left">
                    <p>Your privacy is important to Sarawak Tourism Board and we take responsibility regarding the security of your personal information seriously.<br><br> We are contacting you today to let you know that we will be making some changes to
                        our Privacy Policy. These changes will reflect the increased transparency requirements of the EU General Data Protection Regulation (known as the ‘GDPR’).<br><br> The Privacy Policy covers how we collect, use, share and store your
                        personal information. Please take a look at our updated Privacy Policy to understand our privacy practices and let us know if you have questions. To view our updated
                        <a href="http://photo.sarawaktourism.com/privacy_policy.php" target="_blank">Privacy Policy</a>.<br><br> The emails you receive from us are permission-based. In other words, you have expressly shared your email address with us
                        for the purpose of receiving communications and information in the future, registered for our products or services, or otherwise have an existing relationship with us.<br><br> The Data Protection Act 1998 provides you with rights
                        to access any information we may collect and store about you within our Content Management System. We are happy to receive any queries, comments, or requests you may have regarding our Privacy Policy. Feel free and do not hesitate
                        to use the following email to contact us: stb@sarawaktourism.com<br><br> Regards,

                        <br> Sarawak Tourism Board</p>
                </div>
            </div>

            <!--Footer-->
            <!-- <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">No, thanks</a>
            </div> -->
        </div>
        <!--/.Content-->
    </div>