<div>
    <div class="flex-center flex-column login-card">


        <div class="register-logo">
        </div>

        <div class="thank">
            <p>Thank you for registering as member, we would like to collect some basic information of your profile. The information collected here is for internal use only. Please see our <a href="">data privacy policy</a>.</p>
        </div>

        <!--Card content-->
        <div class="card login">
            <div class="card-body">
                <form name="regCtrl.userReg" novalidate autocomplete="off">
                    <div class="form-group username first">
                        <input ng-class="{ 'has-error': regCtrl.userReg.first_name.$dirty && regCtrl.userReg.first_name.$invalid }" name="first_name" ng-model="regCtrl.user.first_name" type="text" placeholder="First Name" class="form-control" id="fname" required>
                        <span ng-if="regCtrl.userReg.first_name.$dirty && regCtrl.userReg.first_name.$error.required" class="pl-0 text-error col-md-12">First name is required</span>
                    </div>
                    <div class="form-group username last">
                        <input ng-class="{ 'has-error': regCtrl.userReg.last_name.$dirty && regCtrl.userReg.last_name.$invalid }" name="last_name" ng-model="regCtrl.user.last_name" type="text" placeholder="Last Name" class="form-control" id="lname" required>
                        <span ng-if="regCtrl.userReg.last_name.$dirty && regCtrl.userReg.last_name.$error.required" class="pl-0 text-error col-md-12">Last name is required</span>
                    </div>
                    <div class="form-group phone">
                        <input ng-class="{ 'has-error': regCtrl.userReg.phone.$dirty && regCtrl.userReg.phone.$invalid }" name="phone" ng-model="regCtrl.user.phone" type="phone" placeholder="Phone" class="form-control" id="phone" required>
                        <span ng-if="regCtrl.userReg.phone.$dirty && regCtrl.userReg.phone.$error.required" class="pl-0 text-error col-md-12">Phone Number is required</span>
                    </div>
                    <div class="form-group email">
                        <input ng-class="{ 'has-error': regCtrl.userReg.email.$dirty && regCtrl.userReg.email.$invalid }" name="email" ng-model="regCtrl.user.email" type="text" placeholder="Email ID" class="form-control" id="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                            required>
                        <span ng-if="regCtrl.userReg.email.$dirty && regCtrl.userReg.email.$error.required" class="pl-0 text-error col-md-12">Email is required</span>
                        <span ng-if="regCtrl.userReg.email.$dirty && regCtrl.userReg.email.$error.pattern" class="pl-0 text-error col-md-12 format">Invalid email format</span>
                    </div>
                    <div class="form-group password mb-5">
                        <input ng-class="{ 'has-error': regCtrl.userReg.password.$dirty && regCtrl.userReg.password.$invalid }" name="password" ng-model="regCtrl.user.password" type="password" placeholder="Password" class="form-control" id="pwd" required>
                        <span ng-if="regCtrl.userReg.password.$dirty && regCtrl.userReg.password.$error.required" class="pl-0 text-error col-md-12">Password is required</span>
                    </div>
                    <div class="col-md-12 pl-0 pr-0 pull-left">
                        <a class="home-link" ui-sref="home">Home</a>
                        <a class="forgot-link" ui-sref="forgot">Login</a>
                    </div>
                    <div class="text-center gdprc">
                        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#centralModalSuccess">GDPR Compliance <i class="far fa-eye ml-1"></i></a>
                    </div>


                    <div class="chck">
                        <!-- Default checked -->
                        <div class="custom-control custom-checkbox">
                            <input ng-class="{ 'has-error': regCtrl.userReg.terms.$dirty && regCtrl.userReg.terms.$invalid }" name="terms" type="checkbox" ng-model="regCtrl.user.terms" class="custom-control-input" id="terms" checked required>
                            <label class="custom-control-label width-100" for="terms"><p>I have read and agree to the Data Privacy Policy </p></label>
                            <span ng-if="regCtrl.userReg.terms.$dirty && regCtrl.userReg.terms.$error.required" class="pl-0 text-error col-md-12">You should accept the terms</span>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input name="contract" type="checkbox" ng-model="regCtrl.user.contract" class="custom-control-input" id="contract" checked>
                            <label class="custom-control-label" for="contract"><p>I agree that Sarawak Tourism Board may use my email address to contact 
                      me for purpose of verification. And where relevant, for purpose of business development and/or partnership</p></label>
                        </div>
                    </div>
                    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                </form>
                <a ng-click="regCtrl.register()" class="user-btn btn btn-primary gren" ng-disabled="regCtrl.userReg.$invalid">REGISTER</a>
                <a ng-click="regCtrl.cancel()" class="user-btn btn btn-primary gry" ng-disabled="regCtrl.userReg.$pristine">CANCEL</a>
            </div>
        </div>
    </div>
</div>


<!-- Central Modal Medium Success -->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead text-center">GDPR Compliance</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-left">
                    <p>Your privacy is important to Sarawak Tourism Board and we take responsibility regarding the security of your personal information seriously.<br><br> We are contacting you today to let you know that we will be making some changes to
                        our Privacy Policy. These changes will reflect the increased transparency requirements of the EU General Data Protection Regulation (known as the ‘GDPR’).<br><br> The Privacy Policy covers how we collect, use, share and store your
                        personal information. Please take a look at our updated Privacy Policy to understand our privacy practices and let us know if you have questions. To view our updated
                        <a href="http://photo.sarawaktourism.com/privacy_policy.php" target="_blank">Privacy Policy</a>.<br><br> The emails you receive from us are permission-based. In other words, you have expressly shared your email address with us
                        for the purpose of receiving communications and information in the future, registered for our products or services, or otherwise have an existing relationship with us.<br><br> The Data Protection Act 1998 provides you with rights
                        to access any information we may collect and store about you within our Content Management System. We are happy to receive any queries, comments, or requests you may have regarding our Privacy Policy. Feel free and do not hesitate
                        to use the following email to contact us: stb@sarawaktourism.com<br><br> Regards,

                        <br> Sarawak Tourism Board</p>
                </div>
            </div>

            <!--Footer-->
            <!-- <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">No, thanks</a>
            </div> -->
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Success-->