<!--Main Layout-->
<main class="secmain">
    <!-- <div class="row">
        <h2 class="text-center event-header">TICKET INFO</h2>
    </div> -->
    <div>
        <div class="container mt-6">
            <div class="row">
                <!-- Card -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                    <div class="">
                        <img class="img-full img-fluid" src="img/ticket.jpg" alt="" />
                    </div>
                    <button ng-if="genctrl.loadTicketDetails" type="button" ng-click="genctrl.gotoPayment()" class="m-0 col-lg-12 col-md-12 col-sm-12 col-12 btn btn-warning btn-rounded">Click here to buy tickets online</button>
                </div>
                
            </div>
        </div>
    </div>
</main>